<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{/static/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/bootstrap.min.css}"/>
    <!--<link type="text/css" rel="stylesheet" th:href="@{/static/bootstrap-theme.min.css}"/>-->
    <link type="text/css" rel="stylesheet" th:href="@{/static/font-awesome.min.css}"/>
    <script type="text/javascript" th:src="@{/static/jquery-3.2.1.min.js}" ></script>
    <script type="text/javascript" th:src="@{/static/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/jsplumb.min.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/static/style.css}"/>
    <script type="text/javascript" th:src="@{/static/angular.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/jquery.validate.js}"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Screen Scraper
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" sec:authentication="name"></a>
                </li>
                <li>
                    <a th:href="@{/logout}">Wyloguj</a>
                </li>
            </ul>
            <ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#loginModal">Zaloguj się</a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#registerModal">Załóż konto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main ng-app="application" ng-controller="RegisterUserController">
    <div class="container col-xs-12">
        <div class="col-xs-2">
            <div class="row">
                <form role="form" ng-submit="saveGeneratingDataSteps()">
                    <div class="form-group col-xs-12">
                        <label for="inputName" class="control-label">Nazwa</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" id="inputName" name="name" ng-model="generatingDataSteps.name" placeholder="Nazwa" />
                            <span class="input-group-btn">
                                <button type="submit" ngClick="Submit" class="btn btn-primary pull-right">Zapisz</button>
                            </span>
                        </div>

                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-success btn-sm col-xs-12" id="generate-button">
                        <i class="fa fa-arrow-down" aria-hidden="true" id="generate-icon"></i>
                        Generuj dane
                    </button>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">Historia</div>
                        <div class="panel-body">
                            <div class="list-group">
                                <button type="button" ng-repeat="data in allUserGeneratingDataSteps" class="list-group-item" ng-click="loadUserGeneratingData(data.id)">{{ data.name }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div id="diagramContainer">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginModalLabel">Logowanie</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal" th:action="@{/login}" method="post">
                        <div class="form-group">
                            <label for="inputLoginEmail" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputLoginEmail" name="email" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLoginPassword" class="col-sm-2 control-label">Hasło</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputLoginPassword" name="password" placeholder="Hasło" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                <button type="submit" class="btn btn-primary">Zaloguj się</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="registerModalLabel">Rejestracja</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="registrationForm" ng-submit="submitForm()" th:object="${registerUserRequest}">
                        <div class="form-group">
                            <label for="inputRegisterEmail" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputRegisterEmail" ng-model="user.email" name="email" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputRegisterPassword" class="col-sm-2 control-label">Hasło</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputRegisterPassword" ng-model="user.password" name="password" placeholder="Hasło" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputRegisterPasswordConfirm" class="col-sm-2 control-label">Powtórz hasło</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputRegisterPasswordConfirm" ng-model="user.passwordConfirm" name="passwordConfirm" placeholder="Powtórz hasło" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                <button type="submit" ngClick="Submit" class="btn btn-primary" id="registerUserButton">Zarejestruj się</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>


<script>
    $("#registrationForm").validate({
        rules: {
            email: {
                email: true,
                required: true
            },
            name: {
                minlength: 3,
                required: true
            },
            surname: {
                minlength: 3,
                required: true
            },
            password: {
                minlength: 8,
                required: true
            },
            passwordConfirm: {
                minlength: 8,
                required: true,
                equalTo: "#inputRegisterPassword"
            }
        },
        messages: {
            email: {
                email: "Podaj prawidłowy adres email",
                required: "Podaj adres email"
            },
            password: {
                minlength: "Hasło musi mieć minimum 8 znaków",
                required: "Podaj hasło"
            },
            passwordConfirm: {
                minlength: "Hasło musi mieć minimum 8 znaków",
                required: "Podaj hasło",
                equalTo: "Podane hasła nie są takie same"
            }
        }
    });
</script>
<script type="application/javascript">
    (function () {
        (function (ng, $) {
            "use strict";
            var application, mainScope;
            application = angular.module("application", []);


            application.controller('RegisterUserController', function ($scope, userModelFactory, $http) {
                mainScope = $scope;


                var getUserModel = function (userModelFactory) {
                    return userModelFactory.getUserModel();
                };

                $scope.user = {};
                $scope.user = getUserModel(userModelFactory);

                $scope.generatingDataSteps = {
                    id: 0,
                    userId: 0,
                    name: '',
                    steps: ''
                };

                $scope.allUserGeneratingDataSteps = [];

                $scope.getAllUserGeneratingData = function() {
                    $http.get('/getAllUserData')
                        .success(function(response) {
                            $scope.allUserGeneratingDataSteps = response;
                            console.log(response);
                        });
                };

                $scope.getAllUserGeneratingData();

                $scope.myFunction = function() {
                };


                $scope.loadUserGeneratingData = function(id) {
                    $http.get('/getData?id='+id)
                        .success(function(response) {
                            $scope.screenScraper.steps = JSON.parse(response.steps);
                            console.log(response);
                            jsPlumb.empty($('#diagramContainer'));
                            generateDiagram();
                        });
                };

                $scope.submitForm = function() {
                    if($("#registrationForm").valid() == true ) {
                        console.log("posting data....");
                        $http.post('/registerUser', JSON.stringify($scope.user))
                            .success(function(response) {
                                if(response != "") {
                                    response.forEach(function(item) {
                                        if(!item["bindingFailure"]) {
                                            var validator = $( "#registrationForm" ).validate();
                                            var field = item["field"];
                                            var message = item["code"];
                                            var error = {
                                            };
                                            error[field] = message;
                                            validator.showErrors(error);

                                            console.log(response);
                                            console.log(response.data);
                                        }
                                    });
                                } else {
                                    console.log("Successful user registration");
                                    $('#registerModal').modal('hide');
                                    $('#loginModal').modal('show');
                                }
                            });
                    }
                };

                $scope.options = "DUPAAAA";

                $scope.saveGeneratingDataSteps = function() {
                    console.log($scope.generatingDataSteps);
                    $scope.generatingDataSteps.steps = JSON.stringify($scope.screenScraper.steps);
                    $http.post('/saveData', JSON.stringify($scope.generatingDataSteps))
                        .success(function(response) {
                            console.log(response);
                            $scope.getAllUserGeneratingData();
                        });
                };

                /*<![CDATA[*/
                function generateDiagram() {
                    jsPlumb.ready(function () {
                        jsPlumb.registerConnectionTypes({
                            "basic": {
                                paintStyle: {stroke: "#3F729B", strokeWidth: 2},
                                cssClass: "connector-normal"
                            }
                        });

                        var common = {
                            connector: ["Flowchart", {cornerRadius: 20}],
                            anchor: ["Bottom", "Top"],
                            endpoint: "Blank",
                            type: "basic",
                            overlays: [
                                ["Arrow", {width: 5, length: 7, location: 1}]
                            ]
                        };

                        var diagramContainer = $('#diagramContainer');
                        diagramContainer.empty();
                        var initItem = $('<div id="item_top" class="item-click  panel panel-info-start"  ng-click="myFunction()" style="top:20"></div>');
                        var heading = $('<div class="panel-heading">Start</div>');
                        var body = $('<div class="panel-body">'
                            + $scope.screenScraper.steps[0].initUrl +
                            '<div class="row">' +
                                '<div class="col-xs-6 p-r-0">' +
                                    '<div class="input-group input-group-sm">' +
                                        '<input type="text" class="form-control" placeholder="Parametr url" id="paramUrl" aria-describedby="sizing-addon3">' +
                                    '</div>' +
                                '</div>' +
                                '<div class="col-xs-3 p-l-0 p-r-0">' +
                                    '<div class="input-group input-group-sm">' +
                                        '<input type="text" class="form-control" placeholder="Od" id="paramUrlMin" aria-describedby="sizing-addon3">' +
                                    '</div>' +
                                '</div>' +
                                '<div class="col-xs-3 p-l-0">' +
                                    '<div class="input-group input-group-sm">' +
                                        '<input type="text" class="form-control" placeholder="Do" id="paramUrlMax" aria-describedby="sizing-addon3">' +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                            /*'<input type="text" id="paramUrl" />' +
                            '<input type="number" id="paramUrlMin" />' +
                            '<input type="number" id="paramUrlMax" />' +*/
                            '</div>');
                        initItem.append(heading);
                        initItem.append(body);
                        diagramContainer.append(initItem);
                        var currentId = 'item_top';
                        jsPlumb.draggable(initItem);
                        var currentIdsClick = [];
                        var top = 20;
                        var left = 0;
                        var selectionCounter = 0;

                        for (var i = 1; i < $scope.screenScraper.steps.length; i++) {
                            if($scope.screenScraper.steps[i].hasOwnProperty('initUrl')) {
                                selectionCounter = 0;
                                top += 180;
                                left = 0;
                                $scope.screenScraper.steps[i].options = {};
                                $scope.screenScraper.steps[i].options.urlParam = "Param";
                                $scope.screenScraper.steps[i].options.min = 0;
                                $scope.screenScraper.steps[i].options.max = 1;
                                var tmpIdClick = 'klik' + i;
                                var diagramClickItem = $('<div class="item-click  panel panel-info-start"></div>');
                                var headingClick = $('<div class="panel-heading">Start</div>');
                                var bodyClick = $('<div class="panel-body">'
                                    + $scope.screenScraper.steps[i].initUrl +
                                    /*'<input type="text" ng-model="screenScraper.steps[i].options.urlParam"/>' +
                                    '<input type="number" ng-model="screenScraper.steps[i].options.min"/>' +
                                    '<input type="number" ng-model="screenScraper.steps[i].options.max"/>' + */
                                    '</div>');
                                diagramClickItem.append(headingClick);
                                diagramClickItem.append(bodyClick);
                                diagramClickItem.css('top', top + 'px');
                                diagramClickItem.css('left', '50%');
                                diagramClickItem.attr('id', tmpIdClick);
                                diagramContainer.append(diagramClickItem);
                                if (currentIdsClick.length > 0) {
                                    for(var k = 0; k < currentIdsClick.length; k++) {
                                        jsPlumb.connect({
                                            source: currentIdsClick[k],
                                            target: tmpIdClick
                                        }, common);
                                    }
                                    currentIdsClick = [];
                                } else {
                                    jsPlumb.connect({
                                        source: currentId,
                                        target: tmpIdClick
                                    }, common);
                                }
                                jsPlumb.draggable(tmpIdClick);
                                currentId = tmpIdClick;
                            } else if ($scope.screenScraper.steps[i].event === 'klik') {
                                selectionCounter = 0;
                                top += 180;
                                left = 0;
                                var tmpIdClick = 'klik' + i;
                                var diagramClickItem = $('<div class="item-click panel panel-info"></div>');
                                var headingClick = $('<div class="panel-heading">Klik</div>');
                                var bodyClick = $('<div class="panel-body"></div>').text($scope.screenScraper.steps[i].href);
                                diagramClickItem.append(headingClick);
                                diagramClickItem.append(bodyClick);
                                diagramClickItem.css('top', top + 'px');
                                diagramClickItem.css('left', '50%');
                                diagramClickItem.attr('id', tmpIdClick);
                                diagramContainer.append(diagramClickItem);
                                if (currentIdsClick.length > 0) {
                                    for(var k = 0; k < currentIdsClick.length; k++) {
                                        jsPlumb.connect({
                                            source: currentIdsClick[k],
                                            target: tmpIdClick
                                        }, common);
                                    }
                                    currentIdsClick = [];
                                } else {
                                    jsPlumb.connect({
                                        source: currentId,
                                        target: tmpIdClick
                                    }, common);
                                }
                                jsPlumb.draggable(tmpIdClick);
                                currentId = tmpIdClick;
                                top += 180;
                            } else if ($scope.screenScraper.steps[i].event === 'wybór') {
                                if (selectionCounter === 0) {
                                    for (var j = i; j < $scope.screenScraper.steps.length; j++) {
                                        if ($scope.screenScraper.steps[j].event === 'wybór') {
                                            selectionCounter++;
                                        } else {
                                            break;
                                        }
                                    }
                                }

                                var tmpIdSelection = 'wybór' + i + 1;
                                var diagramSelectionItem = $('<div class="item-selection panel panel-success"></div>');
                                var headingSelection = $('<div class="panel-heading">Wybór</div>');
                                var bodySelection = $('<div class="panel-body"></div>').text($scope.screenScraper.steps[i].name);
                                diagramSelectionItem.append(headingSelection);
                                diagramSelectionItem.append(bodySelection);

                                diagramSelectionItem.attr('id', tmpIdSelection);
                                diagramSelectionItem.css('top', top + 'px');
                                var tmpLeft = left + (87 / selectionCounter);
                                diagramSelectionItem.css('left', tmpLeft + '%');
                                left = tmpLeft;
                                diagramContainer.append(diagramSelectionItem);
                                jsPlumb.connect({
                                    source: currentId,
                                    target: tmpIdSelection
                                }, common);
                                jsPlumb.draggable(tmpIdSelection);
                                currentIdsClick.push(tmpIdSelection);
                            }
                        }
                    });

                }

                $scope.screenScraper = {
                    steps: [],
                    isRecording: false,
                    options: {}
                };


                $.get("/data")
                    .done(function( sp ) {
                        $scope.screenScraper.steps = sp;
                        generateDiagram();
                    }, 'text');

                function getContentAfterClick(temporaryData) {
                    var promises = [];
                    for( var j = 0; j < temporaryData.length; j++) {
                        var tmpClass = '.' + $scope.screenScraper.steps[stepsCounter].class.replace(/\s\s+/g, ' ').replace(/\s/g, '.').replace(/\.$/, "");
                        var tmp = $(temporaryData[j]).find(tmpClass);
                        for(var k = 0; k < tmp.length; k++) {
                            var promise = $.ajax({
                                type : 'GET',
                                url: tmp[k].href,
                                dataType: "html",
                                success: function(data) {
                                    requestsResult.push(data);
                                },
                                error: function(error) {
                                    console.log(error);
                                }
                            });
                            promises.push(promise);
                        }
                    }
                    return promises;
                }

                function getContentFromUrl(param, min, max) {
                    var promises = [];
                    for(var i = min; i <= max; i++) {
                        var pageUrl = $scope.screenScraper.steps[0].initUrl + '?' + param + '=' + i;
                        var promise = $.ajax({
                            type : 'GET',
                            url: pageUrl,
                            dataType: "html",
                            success: function(data) {
                                requestsResult.push(data);
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });
                        promises.push(promise);
                    }
                    return promises;
                }

                var promises = [];
                var temporaryData = [];
                var stepsCounter = 0;
                var generatedData = [];
                var generateDataRowIndex = 0;
                var dataCounter = 0;
                var requestsResult = [];


                function resolveClass(className) {
                    return '.' + className.replace(/\s\s+/g, ' ').replace(/\s/g, '.').replace(/\.$/, "");
                }

                function resolveElementText(data, element) {
                    if(element.id !== '') {
                        var elementId = element.id;
                        return $(data).find(elementId)[0].innerText;
                    } else if(element.class !== '') {
                        var elementClass = resolveClass(element.class);
                        var elements = $(data).find(elementClass);
                        if(elements.length > 0 && element.elementIndex !== '') {
                            return elements[element.elementIndex].innerText;
                        }
                    }
                }

                function generateData(temporaryData) {
                    stepsCounter++;
                    if(stepsCounter < $scope.screenScraper.steps.length) {
                        var step = $scope.screenScraper.steps[stepsCounter];
                        if(step.hasOwnProperty('initUrl')) {
                            $.get(step.initUrl)
                                .done(function( sp ) {
                                    temporaryData = [];
                                    temporaryData.push($(sp));
                                    generateDataRowIndex += generatedData.length;
                                    generateData(temporaryData);
                                }, 'html');
                            promises = getContentAfterClick(temporaryData);
                            resolvePromises(promises);
                        }
                        else if (step.event === 'klik' && step.href.startsWith('http')) {
                            promises = getContentAfterClick(temporaryData);
                            resolvePromises(promises);
                        } else if (step.event === 'klik') {
                            generateData(temporaryData);
                        } else if (step.event === 'wybór') {
                            var tmpData = [];
                            for (var l = 0; l < temporaryData.length; l++) {
                                var text = resolveElementText(temporaryData[l], step);
                                text = text.replace(/(\r\n|\n|\r)/gm," ");
                                tmpData.push(text);
                                if(typeof generatedData[l + generateDataRowIndex] !== 'undefined') {
                                    generatedData[l + generateDataRowIndex].push(text);
                                } else {
                                    generatedData[l + generateDataRowIndex] = [];
                                    generatedData[l + generateDataRowIndex].push(text);
                                }
                            }
                            dataCounter++;
                            generateData(temporaryData);

                        }
                    } else if(stepsCounter === $scope.screenScraper.steps.length) {
                        downloadCSV();
                    }
                }

                function resolvePromises(promises) {
                    $.when.apply(undefined, promises).then(function() {
                        temporaryData = requestsResult;
                        requestsResult = [];
                        /*for(var i = 0; i < temporaryData.length; i++) {
                            generatedData[i] = [];
                        }*/
                        generateData(temporaryData);
                    });
                }

                $('#generate-button').click(function (event) {
                    $('#generate-button').attr("disabled", true);
                    console.log("Generowanie danych...");
                    var startedPage = "";
                    var temporaryData = [];

                    if($('#paramUrl').val() !== "" && $('#paramUrlMin').val() > 0 && $('#paramUrlMax').val() !== "") {
                        promises = getContentFromUrl($('#paramUrl').val(), $('#paramUrlMin').val(), $('#paramUrlMax').val());
                        resolvePromises(promises);
                    } else {
                        $.get($scope.screenScraper.steps[0].initUrl)
                            .done(function( sp ) {
                                startedPage = $(sp);
                                temporaryData.push(startedPage);

                                generateData(temporaryData);
                            }, 'html');
                    }
                });

                function convertArrayOfObjectsToCSV(data) {
                    var result, ctr, columnDelimiter, lineDelimiter;

                    if (data === null || !Object.keys(data).length) {
                        return null;
                    }

                    columnDelimiter = '\t';
                    lineDelimiter = '\n';

                    result = '';

                    data.forEach(function(item) {
                        ctr = 0;
                        item.forEach(function(value) {
                            if (ctr > 0) {
                                result += columnDelimiter;
                            }
                            result += value;
                            ctr++;
                        });
                        result += lineDelimiter;
                    });

                    return result;
                }

                function downloadCSV() {
                    console.log("Rozpoczynam pobieranie...");
                    var data, filename, link;
                    console.log(generatedData);

                    var csv = convertArrayOfObjectsToCSV(generatedData);
                    if (csv === null) return;

                    filename = 'export.csv';

                    if (!csv.match(/^data:text\/csv/i)) {
                        csv = 'data:text/csv;charset=utf-8,' + csv;
                    }
                    data = encodeURI(csv);

                    link = document.createElement('a');
                    link.setAttribute('href', data);
                    link.setAttribute('download', filename);
                    link.innerText = filename;
                    link.click();
                    $('#generate-button').parent().append(link);
                    $('#generate-button').attr("disabled", false);
                    console.log("Pobieranie zakończone!");

                }
                function generateStepsTable() {
                    var stepsTableBody = $('#steps-table-body');
                    stepsTableBody.empty();
                    var tdLp = $("<td></td>").text(1);
                    var tdEvent = $("<td></td>").text("start");
                    var tdHref = $("<td></td>").text($scope.screenScraper.steps[0].initUrl);
                    var tdId = $("<td></td>").text($scope.screenScraper.steps[0].id);
                    var tdClass = $("<td></td>").text($scope.screenScraper.steps[0].class);
                    var tdElementIndex = $("<td></td>").text('');
                    var trr = $("<tr></tr>");
                    trr.append(tdLp, tdEvent, tdHref, tdId, tdClass, tdElementIndex);
                    stepsTableBody.append(trr);
                    for (var i = 1; i < $scope.screenScraper.steps.length; i++) {
                        var td1 = $("<td></td>").text(i + 1);
                        var td2 = $("<td></td>").text($scope.screenScraper.steps[i].event);
                        var td3 = $("<td></td>").text($scope.screenScraper.steps[i].href);
                        var td6 = $("<td></td>").text($scope.screenScraper.steps[i].name);
                        var button = $("<button type=\"button\" class=\"btn btn-danger btn-sm delete-element-button\" >\n" +
                            "<i class=\"fa fa-trash\" aria-hidden=\"true\"></i>\n" +
                            "</button>");
                        $(button).attr( "data-index", i);
                        var td4 = $("<td></td>").append(button);

                        var tr = $("<tr></tr>");
                        tr.append(td1, td2, td3, td6, td4);
                        stepsTableBody.append(tr);
                    }

                    $('.delete-element-button').click(function () {
                        deleteElement($(this).attr("data-index"));
                    });
                }

                function deleteElement(i) {
                    $scope.screenScraper.steps.splice(i, 1);
                    //generateStepsTable();
                    validate();
                }

                function validate() {
                    var validate = false;
                    $.each($scope.screenScraper.steps, function(idx, element) {
                        if(element.event === "wybór") {
                            validate = true;
                        }
                    });

                    if(validate) {
                        $('#generate-button').attr("disabled", false);
                    } else {
                        $('#generate-button').attr("disabled", true);
                    }
                }
                /*]]>*/
            });


        })(angular, jQuery);
    }).call(this);
</script>
<script type="application/javascript">
    angular.module('application').factory('userModelFactory', function () {
        var factory = {};

        factory.getUserModel = function() {
            return {
                email: '',
                password: '',
                passwordConfirm: '',
                role: 'ROLE_USER'
            }
        };

        return factory;
    });
</script>

</body>
</html>