<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>System geolokalizacji</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{/static/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/static/jquery-3.2.1.min.js}"/>
    <script type="text/javascript" th:src="@{/static/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/static/angular.min.js}"/>
    <script type="text/javascript" th:src="@{/static/jquery.validate.js}"/>
</head>
<body>
<div tiles:fragment="content">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="loginModalLabel">Logowanie</h4>
            </div>
            <div class="modal-body">
                <div th:if="${param.error}" class="alert alert-danger">
                    Podano nieprawidłowy adres email lub hasło!
                </div>
                <form role="form" class="form-horizontal" th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label for="inputLoginEmail" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputLoginEmail" name="email" placeholder="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLoginPassword" class="col-sm-2 control-label">Hasło</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputLoginPassword" name="password" placeholder="Hasło" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                            <button type="submit" class="btn btn-primary">Zaloguj się</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>